
.settings/
target/

*.class
npm/node_modules/
npm/package-lock.json
build/
tomcat/

/npm/.eslintcache

*.log

~$question Togh.xlsx

src/main/resources/secret.properties

npm/public/img/toghV1.jpg
/npm/src/lang/*.bak
