
# Attention, change the proxy in package.json
server.port: 7080


  ## default connection pool
spring.datasource:
  hikari.connectionTimeout: 20000
  hikari.maximumPoolSize: 5
  ## Local PostgreSQL
  url: jdbc:postgresql://localhost:5432/togh_20211228
  username: postgres
  password: postgres
  driver-class-name: org.postgresql.Driver

  ## Google PostgreSQL
  # Spring Mail
spring.mail:
  host: smtp.gmail.com
  port: 587
  username: DefaultUserName
  password: DefaultPassword
  properties.mail.smtp.auth: true
  properties.mail.smtp.starttls.enable: true
  ## https://www.baeldung.com/spring-data-jpa-generate-db-schema
  # spring.jpa.properties.javax.persistence.schema-generation.scripts.action=create
  # spring.jpa.properties.javax.persistence.schema-generation.scripts.create-target=c:/temp/create.sql
  # spring.jpa.properties.javax.persistence.schema-generation.scripts.create-source=metadata
  # spring.jpa.properties.hibernate.format_sql=true
  # https://www.baeldung.com/hibernate-notnull-vs-nullable

spring.jpa:
  hibernate.ddl-auto: update
  show-sql: true
  # s pring.jpa.properties.hibernate.show_sql=true
  # s pring.jpa.properties.hibernate.use_sql_comments=true
  # s pring.jpa.properties.hibernate.format_sql=true
  # log
  # logging.level.org.hibernate.type=trace
logging.level:
  root: WARN
  com.togh: INFO
  # l ogging.level.org.hibernate.SQL=DEBUG
  # l ogging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
  # ------------------------------------------------------------
  # Specify where the Source dictionary are stored
  # command npm run extract produce a dictionary. In this directory
dictionary:
  extract-path: D:/dev/git/togh/npm/lang
  # All dictionary used by Togh, one JSON per lang
  lang-path: D:/dev/git/togh/npm/src/lang
